ion-router-outlet {
  background-color: #fa744a;
}

.login {
  font-size: 16pt;
  width: 8.3em;
  margin: 0.8rem;
  // border-radius: 4px;
  font-size: 14pt;
}

.title {
  color: white;
}

.form-inline {
  margin-top: 6vh;
  text-align: center;
  position: relative;
  z-index: 2;
}
#back {
  // color: #fa744a;
  --background: #fcdcd2;
  color: #fa744a;
}
input {
  width: 70vw;
  height: 10vw;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  font-size: 14pt;
}
label {
  font-size: 18pt;
}
ion-buttons {
  position: relative;
  top: 45px;
  left: 2px;
}
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  // border: 1px #fa744a;
  width: 70%;

  color: black;
  // transition-delay: -3s;
  border-radius: 8px;
  text-align: center;
  line-height: 4px;
  visibility: hidden;
  // animation-duration: 4s;
  // animation-delay: -2s;
}
.back {
  position: absolute;
  font-size: 20px;
  --background: none;
}
