<ion-content>
  <ion-router-outlet style="overflow-y: scroll;">
    <ion-header>
      <ion-toolbar color="bar">
        <header>
          <ion-tab-button class="atHeader" tab="home">
            <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
          </ion-tab-button>

          <ion-tab-button class="atHeader" tab="login">
            <a class="Login">
              <p class="center" [ngClass]="{'loggedIn': http.logInState.logIn === true}">{{http.logInState.logIn === true? http.logInState.name : '登入'}}</p>
            </a>
          </ion-tab-button>

        </header>

      </ion-toolbar>
    </ion-header>
    <ion-buttons class="backBtn">
      <ion-button (click)="backToMemberInformation()">
        <span class="iconify goBack" data-icon="akar-icons:arrow-back-thick-fill"></span>
      </ion-button>
    </ion-buttons>

    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content" id="dialog">
        <h4>修改完成!</h4>
        <p>將於3秒後返回首頁</p>
      </div>

    </div>
    <h1 class="title">編輯資料</h1>

    <form class="form-inline">
      <label for="account">姓名：</label>
      <input type="text" class="form-control" placeholder="您的姓名" id="member_name" name="member_name"
        [(ngModel)]="member_name" maxlength="25">
      <br>
      <br>
      <label for="phone">電話：</label>
      <input type="number" class="form-control" placeholder="您的電話" id="phone" name="phone" [(ngModel)]="phone">
      <br>
      <br>
      <label for="email">信箱：</label>
      <input type="email" class="form-control" placeholder="您的信箱" id="email" name="email" [(ngModel)]="email"
        maxlength="50">
      <br>
      <br>
      <label for="pwd">地址：</label>
      <input type="text" class="form-control" placeholder="您的地址" id="address" name="address" [(ngModel)]="address"
        maxlength="50">
      <br><br><br>
      <ion-button type="reset" class="login" id="back">清除重填</ion-button>
      <ion-button type="submit" class="login" (click)="success()" (click)="upDateMember()">確定變更</ion-button>

    </form>
    <img class="bg" src="../../assets/icon/LOGO_MONO.svg" alt="">
  </ion-router-outlet>
</ion-content>