<ion-content color="front">
  <ion-router-outlet class="productList" style="overflow-y: scroll;">

    <ion-header>
      <ion-toolbar color="bar">
        <header>
          <ion-tab-button class="atHeader" tab="home">
            <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
          </ion-tab-button>
          
          <ion-tab-button class="atHeader" tab="member">
            <a class="Login">
              <p class="center" [ngClass]="{'loggedIn': http.logInState.logIn === true}">{{http.logInState.logIn === true? http.logInState.name : '登入'}}</p>
            </a>
          </ion-tab-button>

        </header>

      </ion-toolbar>
    </ion-header>
    <!-- ------------------------------ -->
    <img class="bg" src="../../assets/icon/LOGO_MONO.svg" alt="">
    <ion-button class="back" (click)="member()">
      <span class="iconify goBack" data-icon="akar-icons:arrow-back-thick-fill"></span>
    </ion-button>
    <h1>
      持有條碼
    </h1>

    <h3>
      <h2>未使用</h2>
      <button (click)="used()">
        <h4>已使用 </h4>
      </button>
      <button (click)="expired()">
        <h5>已過期</h5>
      </button>
    </h3>
    <h6>未使用</h6>
    <ul>
    <div *ngFor="let check of this.http.idList" >
      <ion-checkbox [attr.id]="check.ID" *ngIf="check.use === 'false'"></ion-checkbox>
    </div>
  </ul>
    <div class="php"></div>
      <ion-button (click)="Scanner()" class="Scanner" color="primary">Scanner</ion-button>
    
  </ion-router-outlet>
</ion-content>