ion-router-outlet {
  background-color: #fa744a;
}
#h3 {
  font-size: 24pt;
  color: white;
  text-align: center;
}
label {
  font-size: 18pt;
}
input {
  width: 70vw;
  height: 10vw;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  font-size: 14pt;
}

.but{
  margin-top: 5vh;
}

.login {
  width: 8.3em;
  margin: 0.8rem;
  font-size: 14pt;
}

#back {
  --background: #fcdcd2;
  color: #fa744a;
}
.bg {
  z-index: -1;
}
ion-buttons {
  position: relative;
  top: 45px;
  left: 2px;
}

/* Modal Content */
.modal-content {
  color: #ff0707;
}