<ion-content>

  <ion-router-outlet class="back">
    <ion-header>
      <ion-toolbar color="bar">
        <header>
          <ion-tab-button class="atHeader" tab="home">
            <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
          </ion-tab-button>

          <ion-tab-button class="atHeader" tab="login">
            <a class="Login">
              <p class="center">登入</p>
            </a>
          </ion-tab-button>

        </header>

      </ion-toolbar>
    </ion-header>

    <h3 id="h3" style="font-weight: bolder;">忘記密碼</h3>
    <form class="form-inline">
      <label for="account">姓名：</label>
      <input type="text" class="form-control" placeholder="您的帳號" id="account">
      <br>
      <br>
      <label for="email">信箱：</label>
      <input type="email" class="form-control" placeholder="您的信箱" id="email">
      <br>
      <br><br><br><br><br>
      <button type="submit" class="login" id="back">返回</button>
      <button type="submit" class="login" id="check">確認</button>




    </form>
  </ion-router-outlet>
</ion-content>