<ion-content color="front">
  <ion-router-outlet class="productList" [ngClass]="{'modalOpen': http.logInState.logIn === false, 'modalClose': http.logInState.logIn === true}">

    <ion-header>
      <ion-toolbar color="bar">
        <header>
          <ion-tab-button class="atHeader" tab="home">
            <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>        
          </ion-tab-button>
    
          <ion-tab-button class="atHeader" (click)="toLogin()">
            <a class="Login">
              <p class="center" [ngClass]="{'loggedIn': http.logInState.logIn === true}">{{http.logInState.logIn === true? http.logInState.name : '登入'}}</p>
            </a>
          </ion-tab-button>
    
        </header>
    
      </ion-toolbar>
    </ion-header>

    <div class="askModal" [ngClass]="{'notLogIn': http.logInState.logIn === false, 'closeCall': closeCall === true}">
      <div class="askWindow center">
        <button class="close" (click)="close()">X</button>
        <h1>要先登入才能點餐喔</h1>
        <div class="actionBtn">
          <ion-button (click)="toLogin()">先去登入</ion-button>
        </div>
      </div>
    </div>

    <button class="float" (click)="openCartModal()" [disabled]="http.logInState.logIn === false">
      <span class="amount">{{http.currentAmount}}</span>
      <span class="iconify shopping-cart" data-icon="ion:basket-outline"></span>
    </button>

      <div class="top">
        <div class="search">
          <input type="text" placeholder="今天想吃什麼?" [(ngModel)]="search" (change)="sortProducts()">
        </div>
      </div>

      <ul>
        <li *ngFor="let product of http.products">
          <div class="thumbnail">
            <img src="..{{product.image}}" alt="meal">
          </div>

          <div class="info">
            <h5 class="small">{{product.name}}</h5>
            <h5 class="small price">${{product.price}}</h5>
          </div>
          <button class="small order-btn" (click)="addToCart(product)" [disabled]="http.logInState.logIn === false">我要點餐</button>
        </li>
      </ul>
  </ion-router-outlet>
</ion-content>
