.top{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    padding: 0 1.5% 0 1.5%;
}

.input{
    width: 50vw;
    border: 1px solid gray;
    border-radius: 8px;
}

ul{
    padding-left: 7vw;
    li{
        border: 1px solid white;
        background-color: white;
        border-radius: 8px;
        list-style: none;
        display: inline-block;
        margin: .5%;
        .thumbnail{
            width: 40vw;
            img{
                max-width: 100%;
            }
        }
        .info{
            display: flex;
            // justify-content: space-evenly;
        }
    }
}