<ion-content color="front">
  <ion-router-outlet class="productList" style="overflow-y: scroll;">

    <ion-header>
      <ion-toolbar color="bar">
        <header>
          <ion-tab-button class="atHeader" tab="home">
            <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>        
          </ion-tab-button>
    
          <ion-tab-button class="atHeader" tab="login">
            <a class="Login"><p class="center">登入</p></a>
          </ion-tab-button>
    
        </header>
    
      </ion-toolbar>
    </ion-header>

    <button class="float" (click)="openCartModal()">
      <span class="amount">{{httpService.currentAmount}}</span>
      <span class="iconify shopping-cart" data-icon="ion:basket-outline"></span>
    </button>

      <div class="top">
        <div class="search">
          <input type="text" placeholder="今天想吃什麼?">
        </div>
      </div>

      <ul>
        <li *ngFor="let product of httpService.products">
          <div class="thumbnail">
            <img src="..{{product.image}}" alt="meal">
          </div>

          <div class="info">
            <h5 class="small">{{product.name}}</h5>
            <h5 class="small price">${{product.price}}</h5>
          </div>
          <button class="small order-btn" (click)="addToCart(product)">我要點餐</button>
        </li>
      </ul>

      <!-- <div class="shopping-cart-modal" style="display: none;">
        <div class="cartInfo" *ngIf="shoppingCart.length > 0">
          <ul>
            <li class="shoppingList" *ngFor="let goods of shoppingCart">
              <div class="thumbnail">
                <img src="..{{goods.image}}" alt="goods">
              </div>
              <h5>{{goods.name}}</h5>
              <h5>{{goods.price}}</h5>
            </li>
          </ul>
        </div>
      </div> -->

      <!-- <ul>
          <li *ngFor="let curry of curries">
            <div class="thumbnail">
              <img src="..{{curry.image}}" alt="meal">
            </div>

            <div class="info">
              <h5 class="small">{{curry.name}}</h5>
              <h5 class="small price">${{curry.price}}</h5>
            </div>
            <button class="small order-btn">我要點餐</button>
          </li>
        </ul>

        <ul>
          <li *ngFor="let don of dons">
            <div class="thumbnail">
              <img src="..{{don.image}}" alt="meal">
            </div>

            <div class="info">
              <h5 class="small">{{don.name}}</h5>
              <h5 class="small price">{{don.price}}</h5>
            </div>
            <button class="small order-btn">我要點餐</button>
          </li>
        </ul> -->
  </ion-router-outlet>
</ion-content>
