.flex-center {
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100%;
}
.shape-ex1{
    height: 60vh;
    width: auto;
    margin: auto;
    display: block;
  }
.shape-ex2{
    height: auto;
    width: auto;
    margin: auto;
    display: block;
}