<ion-header>
  <ion-toolbar color="bar">
    <header>
      <ion-tab-button class="atHeader" tab="home">
        <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>        
      </ion-tab-button>

      <ion-tab-button class="atHeader" tab="login">
        <a class="Login"><p class="center">登入</p></a>
      </ion-tab-button>

    </header>

  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
<!-- ------------------------------------------- -->
    <ion-tab-button tab="home">

      <ion-icon name="home-outline"></ion-icon>

      <ion-label>首頁</ion-label>
      

    </ion-tab-button>
<!-- ------------------------------------------------ -->
    <ion-tab-button tab="order">

      <span class="iconify" data-icon="icon-park-outline:rice" data-inline="false" width="25"></span>

      <ion-label>點餐</ion-label>

    </ion-tab-button>
    <!-- ------------------------------------------------ -->

    <ion-tab-button tab="store-situation">

      <span class="iconify " data-icon="mdi:table-chair" data-inline="false" width="30"></span>
      

      <ion-label>店內情況</ion-label>

    </ion-tab-button>
    <!-- ------------------------------------------- -->

    <ion-tab-button tab="delivery-tracking">

      <span class="iconify " data-icon="healthicons:vespa-motorcycle-outline" data-inline="false" width="40" style="margin-top: -5%"></span>

      <ion-label>外送追蹤</ion-label>

    </ion-tab-button>
  <!-- ------------------------------------------- -->
    <ion-tab-button tab="member">

      <ion-icon name="person-outline"></ion-icon>

      <ion-label>會員專區</ion-label>

    </ion-tab-button>
  <!-- ------------------------------------------- -->

  </ion-tab-bar>

</ion-tabs>