<div></div>
<div></div>
<div></div>
<div></div>

<button class="close" (click)="close()">X</button>
<ion-card>
  <div class="adIMG">
    <img class="shape-ex1" src="../../assets/fried_plate.jpg" height="200" width="400">
  </div>

  <ion-card-content class="text1">
    疫情限定 ! 振興消費85折 !
  </ion-card-content>

  <ion-card-content class="text2">
    活動期間
    <br>
    2021/06/01~2021/06/30
  </ion-card-content>
  
    <a class="dotSwitch">
    <svg  (click)="home()" height="50" width="50">
      <circle cx="25" cy="25" r="10" stroke="orange" stroke-width="3" fill="white" />
    </svg>

    <svg  (click)="advertise()" height="50" width="50">
      <circle cx="25" cy="25" r="10"  fill="orange" />
    </svg>
    </a>
</ion-card>



<div></div>
<div></div>
<div></div>
<div></div>