.modal{
    ion-buttons{
        float: left;
        margin-top: -5vh;
    }
    .goBack{
        color: gray;
    }
    .temp-cart-modal{
        width: 100%;
        background-color: #EDEDED;
        overflow-y: scroll;
        .title{
            text-align: center;
            color: black;
            font-weight: 600;
        }
        .cartInfo{
            margin-top: 4vh;
            .theProduct{
                background-color: white;
                color: black;
                padding: 3%;
                width: 90vw;
                margin: 0 auto;
                border-radius: 8px;
                margin-bottom: 4vh;
                position: relative;
                z-index: 2;
                .remove{
                    width: 36px;
                    height: 36px;
                    border-radius: 50px;
                    background-color: #FFC107;
                    float: right;
                    font-size: 1.5rem;
                    margin: -4.5vh -7vw 0 0;
                }
                    .biggerIMG{
                        border-radius: 8px;
                        overflow: hidden;
                        height: 139px;
                        img{
                            width: 139px;
                            height: 139px;
                            object-fit: cover;
                        }
                    }
                    .productName{
                        width: 50%;
                        margin-left: 3vw;
                    }
            }
        }
        .toggleAmount{
            margin-top: 3.5vh;
            .cal{
                background: none;
                font-size: 2rem;
                color: #FA744A;
            }
            .disabled{
                color: gray;
            }
            input{
                background-color: white;
                border: 1px solid lightgray;
                border-radius: 8px;
                text-align: center;
                padding: 1%;
                width: 20vw;
            }
        }
    }   
}

#totalBar{
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border: 1px solid #FA744A;
    color: #FA744A;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    padding: 1%;
    z-index: 2;
    div{
        margin: auto;
    }
    ion-button{
        width: 50vw;
    }
}

#beforeRemove{
    width: 100vw;
    height: 100vh;
    background-color: rgb(106, 106, 106, 75%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    .askModal{
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 8px;
        padding: 3%;
        h1{
            color: black;
            .ask{
                color: #FA744A;
            }
        }
        .btns{
            display: flex;
            justify-content: center;
        }
    }
}

.infos{
    display: flex;
}