<ion-content class="modal">

  <div class="temp-cart-modal">
    <h1 class="title">您的餐點</h1>

    <ion-buttons>
      <ion-button (click)="closeShoppingCart()">
        <span class="iconify goBack" data-icon="akar-icons:arrow-back-thick-fill"></span>
      </ion-button>
    </ion-buttons>

    <div class="cartInfo">
        <div *ngFor="let goods of shoppingCart; index as i" class="theProduct">
          <button class="remove" (click)="openAskModal(goods)">X</button>
          <div class="infos">
            <div class="biggerIMG ">
              <img src="..{{goods.image}}" alt="goods">
            </div>
            <div class="productName">
              <h5>餐點名稱: {{goods.name}}</h5>
              <h5>價格: {{goods.price}}</h5>

              <div class="toggleAmount infos">
                <button class="cal" [ngClass]="{'disabled': goods.amount === 1}" (click)="minus(i)" [disabled]="goods.amount === 1">
                  <span class="iconify" data-icon="akar-icons:circle-minus"></span>
                </button>
                <input type="number" value="{{goods.amount}}" onChange="reCalculate(i)">
                <button class="cal" (click)="plus(i)">
                  <span class="iconify" data-icon="akar-icons:circle-plus"></span>
                </button> 
              </div>
            </div>
          </div>
        </div>

  </div>

  <div id="totalBar">
    <div><span class="totalPrice">總計: {{totalPrice}}</span></div>
    <ion-button color="back" id="toPayment">前往結帳</ion-button>
  </div>

  <div id="beforeRemove" style="display: none;">
    <div class="askModal">
      <h1>確定刪除 <span class="ask"></span> ?</h1>
      <div class="btns">
        <ion-button color="front" (click)="closeAskModal()">取消</ion-button>
        <ion-button color="back" (click)="askRemove()">確定</ion-button>
      </div>
    </div>
  </div>
</div>
</ion-content>