.b{
    background-color: #fa744a;
  }
.back{
    position:absolute;
    font-size: 20px;
    --background: none
}

.noData{
    position: relative;
    z-index: 2;
    .status{
        margin-top: 6vh;
        filter: brightness(3);
    }
}

.dateExist{
    .datePicker{
        display: flex;
        justify-content: space-around;
        ion-icon{
            font-size: 24px;
        }
    }
    ul{
        position: relative;
        li{
            width: 88vw;
            margin: 2vh auto;
            padding: 3%;
            border-radius: 8px;
            color: black;
            display: flex;
            .thumbnail{
                img{
                    width: 149px;
                    height: 149px;
                }
            }
            .info{
                margin-left: 2vw;
            }
        }
    }
}

h2{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}