<b>
<ion-header>
    <ion-toolbar color="bar">
      <header>
        <ion-tab-button class="atHeader" tab="home">
          <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
        </ion-tab-button>
  
        <ion-tab-button class="atHeader" tab="login">
          <a class="Login">
            <p class="center">登入</p>
          </a>
        </ion-tab-button>
      </header>
    </ion-toolbar>
  </ion-header>
<!-- ------------------------------ -->

<button class="back" >
        <ion-icon (click)="member()" name="arrow-undo-outline"></ion-icon>
</button>
    <h1 >
        個人點餐紀錄
    </h1>
        <br>
        <h2>日期:  6月30日</h2>
    <ion-icon class="calendar" name="calendar-clear-outline"></ion-icon> 
  
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>

</b>
