.b{
    background-color: #fa744a;
  }
.back{
    position:absolute;
    font-size: 20px;
    --background: none
}

.noData{
    position: relative;
    z-index: 2;
    .status{
        margin-top: 6vh;
        filter: brightness(3);
    }
}

.dateExist{
    .datePicker{
        display: flex;
        justify-content: center;
        ion-icon{
            font-size: 24px;
        }
    }
    .datePicker-modal{
        background-color: rgb(112 95 95 / 75%);
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        margin-top: -11vh;
        visibility: hidden;
        transition: all .5s ease;
        .datePicker-window{
            width: 80vw;
            height: 60vh;
            margin: auto;
            background-color: white;
            color: black;
            border-radius: 8px;
            text-align: center;
            transform: translateY(85vh);
            transition: all .5s ease;
            .dateSelector{
                ol{
                    list-style: none;
                    padding-left: 0;
                }
            }
        }
        .datePicker-enter{
            transform: translateY(9vh);//先放著
        }
    }
    .datePicker-open{
        visibility: visible;
    }
    ul{
        position: relative;
        li{
            width: 88vw;
            margin: 2vh auto;
            padding: 3%;
            border-radius: 8px;
            color: black;
            display: flex;
            .thumbnail{
                img{
                    width: 149px;
                    height: 149px;
                }
            }
            .info{
                margin-left: 2vw;
            }
        }
    }
}

h2{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}