<ion-header>
    <ion-toolbar color="bar">
      <header>
        <ion-tab-button class="atHeader" tab="home">
          <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
        </ion-tab-button>
  
        <ion-tab-button class="atHeader" tab="member">
          <a class="Login">
            <p class="center" [ngClass]="{'loggedIn': http.logInState.logIn === true}">{{http.logInState.logIn === true? http.logInState.name : '登入'}}</p>
          </a>
        </ion-tab-button>
      </header>
    </ion-toolbar>
  </ion-header>

<ion-content color="back">
  <img src="../../../assets/icon/LOGO_MONO.svg" class="bg" alt="玩">

  <h1 class="title">個人點餐紀錄</h1>
    <ion-button class="back" (click)="back()">
      <span class="iconify goBack" data-icon="akar-icons:arrow-back-thick-fill"></span>
    </ion-button>
  <br>
  <h2>日期:  </h2>
<ion-icon class="calendar" name="calendar-clear-outline"></ion-icon> 
</ion-content>