<ion-header>
    <ion-toolbar color="bar">
      <header>
        <ion-tab-button class="atHeader" tab="home">
          <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
        </ion-tab-button>
  
        <ion-tab-button class="atHeader" tab="member">
          <a class="Login">
            <p class="center" [ngClass]="{'loggedIn': http.logInState.logIn === true}">{{http.logInState.name}}</p>
          </a>
        </ion-tab-button>
      </header>
    </ion-toolbar>
  </ion-header>

<ion-content color="back" [ngClass]="{'longList': this.http.selectedRecord.length > 3}">
  <img src="../../../assets/icon/LOGO_MONO.svg" class="bg" alt="玩">

  <ion-button class="back" (click)="back()">
    <span class="iconify goBack" data-icon="akar-icons:arrow-back-thick-fill"></span>
  </ion-button>

  <h1 class="title">個人點餐紀錄</h1>

  <div class="noData" *ngIf="http.cartRecords.length === 0">
    <div class="status">
      <img src="../../assets/icon/question.svg" alt="Q">
    </div>

    <div class="message">
      <h2>找不到紀錄</h2>
      <h2>要不要先點餐?</h2>
    </div>

    <div class="actionBtn">
      <ion-button (click)="toOrder()">帶我去點餐</ion-button>
    </div>
  </div>
  
  <div class="dateExist" *ngIf="http.cartRecords.length > 0 && http.logInState.logIn === true">
    <div class="datePicker">
      <h2>日期:  {{http.cartRecords[ http.cartRecords.length - 1 ].date[1]}} 月 {{http.cartRecords[ http.cartRecords.length - 1 ].date[2]}} 日</h2><!--用最新的時間-->
      <ion-icon class="calendar" (click)="changeDate()" name="calendar-clear-outline"></ion-icon> 
    </div>

    <div class="datePicker-modal" [ngClass]="{'datePicker-open': datePickerOpen === true}">
      <div class="datePicker-window" [ngClass]="{'datePicker-enter': datePickerOpen === true}">
        <button class="close" (click)="close()">X</button>
        <h2>檢視日期</h2>
        <div class="monthSelector">
          <button class="backWard" (click)="changeMonth('pre')">
            <span class="iconify" data-icon="entypo:triangle-left"></span>
          </button>
          <h4>{{http.currentMonth}}月</h4>
          <button class="forWard" (click)="changeMonth('next')">
            <span class="iconify" data-icon="entypo:triangle-right"></span>
          </button>
        </div>
        <div class="dateSelector" *ngIf="dateArr.length > 0">
          <ol>
            <li *ngFor="let day of dateArr.slice().reverse(); let i = index" (click)="pickTheDay(i, day)">
              <span [ngClass]="{'thisDay': day[0] === http.currentYear && day[1] === http.currentMonth && day[2] === http.currentDay}">{{day[0]}} {{day[1]}}月{{day[2]}}日</span>
            </li>
          </ol>
        </div>

        <div class="dateSelector" *ngIf="dateArr.length === 0">
          <h4>查無紀錄</h4>
        </div>

      </div>
    </div>

    <div class="cardRecord">
      <ul>
        <li *ngFor="let dish of http.selectedRecord">

            <div class="thumbnail">
              <img src="{{dish.image}}" alt="餐點">
            </div>
    
            <div class="info">
              <h5>餐點: {{dish.name}}</h5>
              <h5>價格: {{dish.price}}</h5>
              <h5>數量: {{dish.amount}}</h5>
            </div>

        </li>
      </ul>
    </div>

  </div>

</ion-content>