.b{
    background-color: #fa744a;
  }
.back{
    position:absolute;
    top: 10px;
    font-size: 20px;
}
h1{
    position:absolute;
    top: 3%;
    left: 50%;
    font-weight: bolder;
    font-size: 24px;
    transform: translate(-50%,-50%);
    
}
h2{
    color: #000;
    position:absolute;
    font-weight: bold;
    font-size: 20px;
    top: 8%;
    left: 37%;
    transform: translate(-50%,-50%);
    
}
.calendar{
    position:absolute;
    transform: translate(-50%,-50%);
    top: 10%;
    left: 65%;
    font-size: 25px;
    color: white;
}