<ion-content color="front">
  <ion-router-outlet class="productList" style="overflow-y: scroll;">

    <ion-header>
      <ion-toolbar color="bar">
        <header>
          <ion-tab-button class="atHeader" tab="home">
            <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
          </ion-tab-button>

          <ion-tab-button class="atHeader" tab="login">
            <a class="Login">
              <p class="center">登入</p>
            </a>
          </ion-tab-button>

        </header>

      </ion-toolbar>
    </ion-header>
    <ion-buttons class="backBtn">
      <ion-button (click)="backToMemberInformation()">
        <span class="iconify goBack" data-icon="akar-icons:arrow-back-thick-fill"></span>
      </ion-button>
    </ion-buttons>
    <!-- <button class="float" (click)="openCartModal()">
      <span class="amount">{{httpService.currentAmount}}</span>
      <span class="iconify shopping-cart" data-icon="ion:basket-outline"></span>
    </button> -->
    <h2>當前紅利點數{{members[0].bonus}}</h2>

    <!-- <ul>
      <li *ngFor="let product of httpService.products">
        <div class="thumbnail">
          <img src="..{{product.image}}" alt="meal">
        </div>

        <div class="info">
          <h5 class="small">{{product.name}}</h5>
          <h5 class="small price">${{product.price}}</h5>
        </div>
        <button class="small order-btn" (click)="addToCart(product)">我要點餐</button>
      </li>
    </ul> -->