<ion-content color="front">
  <ion-router-outlet class="productList" style="overflow-y: scroll;">

    <ion-header>
      <ion-toolbar color="bar">
        <header>
          <ion-tab-button class="atHeader" tab="home">
            <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
          </ion-tab-button>

          <ion-tab-button class="atHeader" tab="member">
            <a class="Login">
              <p class="center" [ngClass]="{'loggedIn': http.logInState.logIn === true}">{{http.logInState.logIn ===
                true? http.logInState.name : '登入'}}</p>
            </a>
          </ion-tab-button>

        </header>

      </ion-toolbar>
    </ion-header>
    <!-- ------------------------------ -->
    <div class="askModal" [ngClass]="{'barcodeGenerated': barcodeGenerate === true}">
      <div class="askWindow center">
        <button class="close" (click)="close()">X</button>
        <svg id="barcode"></svg>
        <div class="actionBtn">
          <h1>兌換成功</h1>
        </div>
      </div>
    </div>

    <ion-buttons class="backBtn">
      <ion-button (click)="backToMemberInformation()">
        <span class="iconify goBack" data-icon="akar-icons:arrow-back-thick-fill"></span>
      </ion-button>
    </ion-buttons>

    <ion-button class="back" (click)="backToMemberInformation()">
      <span class="iconify goBack" data-icon="akar-icons:arrow-back-thick-fill"></span>
    </ion-button>

    <h1 class="title">當前紅利點數 : <span id="quantity">{{http.logInState.bonus}}</span></h1>

    <form class="form-inline">
      <ul>
        <li>
          <div class="thumbnail">
            <img src="../../../assets/jp_light_cheese.jpg" alt=" meal">
          </div>

          <div class="info">
            <h5 class="small">起司條</h5>
            <h5 class="small price">15點</h5>
          </div>
          <button class="small order-btn" (click)="random('起司條')">我要兌換</button>
        </li>


        <li>
          <div class="thumbnail">
            <img src="../../../assets/golden_kimchi.jpg" alt=" meal">
          </div>

          <div class="info">
            <h5 class="small">黃金泡菜</h5>
            <h5 class="small price">15點</h5>
          </div>
          <button class="small order-btn" (click)="random('黃金泡菜')">我要兌換</button>
        </li>



        <li>
          <div class="thumbnail">
            <img src="../../../assets/fried_tofu.jpg" alt=" meal">
          </div>

          <div class="info">
            <h5 class="small">炸豆腐</h5>
            <h5 class="small price">15點</h5>
          </div>
          <button class="small order-btn" (click)="random('炸豆腐')">我要兌換</button>
        </li>

        <li>
          <div class="thumbnail">
            <img src="../../../assets/fried_dumpling.jpg" alt=" meal">
          </div>



          <div class="info">
            <h5 class="small">酥炸餃子(5枚)</h5>
            <h5 class="small price">20點</h5>
          </div>
          <button class="small order-btn" (click)="random('酥炸餃子(5枚)')">我要兌換</button>

        <li>
          <div class="thumbnail">
            <img src="../../../assets/onion_ring.jpg" alt=" meal">
          </div>



          <div class="info">
            <h5 class="small">洋蔥圈(7枚)</h5>
            <h5 class="small price">20點</h5>
          </div>
          <button class="small order-btn" (click)="random('洋蔥圈(7枚)')">我要兌換</button>
        </li>



        <li>
          <div class="thumbnail">
            <img src="../../../assets/fried_fish_steak.jpg" alt=" meal">
          </div>

          <div class="info">
            <h5 class="small">炸魚排</h5>
            <h5 class="small price">30點</h5>
          </div>
          <button class="small order-btn" (click)="random('炸魚排')">我要兌換</button>
        </li>

        <li>
          <div class="thumbnail">
            <img src="../../../assets/pork_steak.jpg" alt=" meal">
          </div>



          <div class="info">
            <h5 class="small">厚切豬排(小)</h5>
            <h5 class="small price">30點</h5>
          </div>
          <button class="small order-btn" (click)="random('厚切豬排(小)')">我要兌換</button>
        </li>

        <li>
          <div class="thumbnail">
            <img src="../../../assets/fried_plate.jpg" alt=" meal">
          </div>



          <div class="info">
            <h5 class="small">炸物拼盤</h5>
            <h5 class="small price">40點</h5>
          </div>
          <button class="small order-btn" (click)="random('炸物拼盤')">我要兌換</button>
        </li>

        <li>
          <div class="thumbnail">
            <img src="../../../assets/fried_shrimp.jpg" alt=" meal">
          </div>



          <div class="info">
            <h5 class="small">炸蝦(2枚)</h5>
            <h5 class="small price">40點</h5>
          </div>
          <button class="small order-btn" (click)="random('炸蝦(2枚)')">我要兌換</button>
        </li>

        <li>
          <div class="thumbnail">
            <img src="../../../assets/tiramisu.jpg" alt=" meal">
          </div>



          <div class="info">
            <h5 class="small">提拉米蘇</h5>
            <h5 class="small price">15點</h5>
          </div>
          <button class="small order-btn" (click)="random('提拉米蘇')">我要兌換</button>
        </li>

        <li>
          <div class="thumbnail">
            <img src="../../../assets/caramel_mousse.jpg" alt=" meal">
          </div>



          <div class="info">
            <h5 class="small">玫瑰焦糖慕斯</h5>
            <h5 class="small price">15</h5>
          </div>
          <button class="small order-btn" (click)="random('玫瑰焦糖慕斯')">我要兌換</button>
        </li>
        <li>
          <div class="thumbnail">
            <img src="../../../assets/jp_light_cheese.jpg" alt=" meal">
          </div>



          <div class="info">
            <h5 class="small">日式輕乳酪</h5>
            <h5 class="small price">15</h5>
          </div>
          <button class="small order-btn" (click)="random('日式輕乳酪')">我要兌換</button>
        </li>
      </ul>

    </form>




  </ion-router-outlet>
</ion-content>