#banner{
    position: relative;
    color: white;
    img{
        width: 375px;
        height: 160px;
        object-fit: cover;
    }
    h2{
        top: 30%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        font-weight:bold;
    }
    h3{
        top: 60%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        font-weight:bold;
        border-style:solid;
        padding: 10px;
    }
}



ul{
    display: flex;
    overflow-X: scroll;
    max-width: 100%;
    border-radius:10px;
    padding-left: 0;
    img{
       object-fit: cover;
       margin-right: 3%;
       border-radius: 8px; 
    }
}

.section{
    padding: 3%;
    .dot {
        top:5%;
        position:relative;
        height: 25px;
        width: 25px;
        background-color:#FFC107;
        border-radius: 50%;
        display: inline-block;
      }
    h1{
        font-weight: bolder;
        position:relative;
        margin: 0 0 1% 0;
        margin-top: -2vh;
    }
    .news{
        h4{
            font-size: 16px;
            padding: 2%;
            color: white;
            background-color: orange;
            margin: 0;
        }
    }
    #fb{
        display: flex;
        background-color: #4167B2;
        border-radius: 2px;
        color: white;
        text-decoration: none;
        justify-content: space-evenly;
        width: 90vw;
        margin: 0 auto;
        h5{
            font-weight: bolder;
            font-size: larger;
            margin: 16px 0;
        }
        h6{
            padding: 1%;
            background-color: white;
            border-radius: 2px;
            color: black;
            margin: 16px 0;
        }
    }
}
b{
    font-size: 20px;
}

#map{
    width: 337px;
    height: 218px;
    margin:0 auto;
    overflow: hidden;
}

.order{
    border-radius: 10px;
    position:fixed; 
    right: 35px;
    bottom: 10px;
    width: 300px;
    height: 45px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25)
}
