<ion-content color="front"> 
  <ion-header>
    <ion-toolbar color="bar">
      <header>
        <ion-tab-button class="atHeader" tab="home">
          <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
        </ion-tab-button>
  
        <ion-tab-button class="atHeader" tab="login">
          <a class="Login">
            <p class="center">登入</p>
          </a>
        </ion-tab-button>
  
      </header>
  
    </ion-toolbar>
  </ion-header>
  
<div id="banner">
  <img class="123" src="../../../assets/banner.jpg" >
  <h2>
    美味、熱誠、舒適
  </h2>
  <h3>
    咖哩x丼飯專賣
  </h3>
</div>
  

  <span class="dot"></span>
  <h1> &nbsp;新菜色</h1>
  

  <ul>
    <img src="../../../assets/beef_curry.jpg" width="200" height="200">
    <img src="../../../assets/fried_chiken_curry.jpg"width="200" height="200">
    <img src="../../../assets/fried_chiken_don.jpg" width="200" height="200">
  </ul>

<span class="dot"></span>
<h1> &nbsp;最新消息</h1>
<h4>&nbsp;&nbsp;使用小蜜蜂外送打九折（最多折100)</h4>
<h4>&nbsp;&nbsp;8/7（六）公休一天 </h4>
<h4>&nbsp;&nbsp;5/19即日起內用會分流,  梅花座等配套措施</h4>
<span class="dot"></span>
<h1> &nbsp;店家資訊</h1>

<h5 onclick="self.location.href= 'https://www.facebook.com/%E7%8E%A9%E5%91%B3%E7%94%9F%E6%B4%BB-%E5%92%96%E5%93%A9x%E4%B8%BC%E9%A3%AF%E5%B0%88%E8%B3%A3-1882151398510674'">
<h6>Facebook</h6> 
<a>玩&nbsp;味&nbsp;生&nbsp;活&nbsp;咖哩x丼飯專賣</a>
</h5>

<b>
  &nbsp;&nbsp;&nbsp;電話:03-699-2598
<br>
&nbsp;&nbsp;&nbsp;營業時間：11:00~14:30 / 17:00~20:30
<br>
&nbsp;&nbsp;&nbsp;地址：新竹縣湖口鄉民族街100號
</b>
<br>
<br>
<p>
<button >
<img src="../../../assets/icon/map.png" onclick="self.location.href= 'https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.google.com%2Fmaps%2Fdir%2F%3Fapi%3D1%26destination%3D24.90265%252C121.04548%26fbclid%3DIwAR3JD9XNjpR_UlmEhoS-yDGdv6pKPJwD-RtEW19f_GcDxuJdvSi5PdW4rjs&h=AT2Q8ScTTlnTOpm2ZlCUEsin3IiPeBAX6Jdj2ItC-Aweim9ns_mHQFM1vPDaV9LIwEj3U6kQjqSia6_Mi-04iWb8MIWpx7Ki2Uax_3SZZVp6VV9Ty0WO1rRqGMmpo4ym1wAI-ZIHkXUahg2Oi7LUDw'"  >
</button> 
</p>
<br>
<br>
<br>
<img src="../../../assets/Mask Group.png">

<ion-button  (click)="order()" class="order" color="warning">開始點餐</ion-button>

</ion-content>
