.form-inline {
  text-align: center;
  position: relative;
  z-index: 2;
}

.login {
  // align-items: center;
  // text-align: center;
  // padding: 0.7em;
  width: 12em;
  height: 2.5em;
  // margin: 0.8rem;
  //   height: 2px;

  // border-radius: 14px;
  font-size: 14pt;
  // color: white;
}

.butGoogleFb {
  // padding: 0.5em;
  width: 15em;
  height: 2em;
  margin: 0.8em;
  background-color: white;
  border-radius: 4px;
  color: #fa744a;
  font-size: 14pt;
}
input {
  width: 70vw;
  height: 10vw;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  font-size: 14pt;
}
.forgetSignIn {
  background-color: #fa744a;
  color: white;
  font-size: 12pt;
}
ion-router-outlet {
  background-color: #fa744a;
}
#h3 {
  font-size: 24pt;
  color: white;
  text-align: center;
  padding: 3rem;
}
label {
  font-size: 18pt;
}
.iconify {
  background-color: white;
}
ion-buttons {
  position: relative;
  top: 45px;
  left: 2px;
  // color: #fa744a;
}
#warning {
  font-size: 14pt;
  color: red;
  visibility: hidden;
}
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  // border: 1px #fa744a;
  width: 70%;

  color: black;
  // transition-delay: -3s;
  border-radius: 8px;
  text-align: center;
  line-height: 4px;
  visibility: hidden;

  // animation-duration: 4s;
  // animation-delay: -2s;
}
