<ion-content>

  <ion-router-outlet class="back" style="overflow-y: scroll;">
    <ion-header>
      <ion-toolbar color="bar">
        <header>
          <ion-tab-button class="atHeader" tab="home">
            <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
          </ion-tab-button>

          <ion-tab-button class="atHeader" tab="login">
            <a class="Login">
              <p class="center">登入</p>
            </a>
          </ion-tab-button>

        </header>

      </ion-toolbar>
    </ion-header>
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content" id="dialog">

        <h4>申請成功</h4>
        <p>將於三秒後回首頁</p>
      </div>

    </div>

    <img src="../../../assets/icon/LOGO_MONO.svg" class="bg" alt="玩">

    <h3>會員申請</h3>

    <form class="form-inline">

      <label for="account">姓名：</label>
      <input type="text" class="form-control" placeholder="您的大名" id="memebr_name" name="member_name"
        [(ngModel)]="member_name" maxlength="25" required>
      <br>
      <br>
      <label for="phone">電話：</label>
      <input type="number" class="form-control" placeholder="您的電話" id="phone" name="phone" [(ngModel)]="phone" required>
      <br>
      <br>
      <label for="email">信箱：</label>
      <input type="email" class="form-control" placeholder="您的信箱" name="email " id="email" [(ngModel)]="email"
        maxlength="50">
      <br>
      <br>
      <label for="email">地址：</label>
      <input type="email" class="form-control" placeholder="您的地址" id="address" name="address" [(ngModel)]="address"
        required maxlength="50">
      <br>
      <br>
      <label for="pwd">密碼：</label>
      <input type="password" class="form-control" placeholder="您的密碼" id="password" [(ngModel)]="password"
        name="password" required maxlength="20" minlength="5" />
      <br><br>
      <label for="reconfirm">確認密碼：</label>
      <input required type="password" class="form-control" placeholder="確認密碼" id="reconfirmPwd" style="width: 57vw;"
        [(ngModel)]="reconfirmPwd" name="reconfirmPwd" maxlength="20" minlength="5">
      <br>
      <div id="warning">
        <p>兩個密碼必須相同</p>
      </div>

      <ion-button type="submit" class="login" (click)="confirmSignUp()">確定</ion-button>
      <br><br>


      <div class="googleFb">
        <button class="butGoogleFb"><span class="iconify" data-icon="ic:sharp-facebook"></span>使用Facebook帳號登入
        </button>
        <br>
        <button class="butGoogleFb"><span class="iconify" data-icon="flat-color-icons:google"></span>使用Google帳號登入
        </button>
      </div>
    </form>
    <!-- <img class="bg" src="../../assets/icon/LOGO_MONO.svg" alt=""> -->

  </ion-router-outlet>
</ion-content>