ion-router-outlet {
  background-color: #fa744a;
}
button {
  color: #fa744a;
}
h3 {
  text-align: center;
  font-size: 24pt;
  color: white;
}
#infor {
  margin: 1.3em;
  height: 11em;
  //   width: 10em;
  background-color: white;
  border-radius: 8px;
  //   padding: 0.1em;
  opacity: 0.75;
  font-size: 14pt;
}
// #topButton {
//   padding: 5em;
//   width: 9em;
// }
.top {
  padding: 2.5em;
  margin: 0.7em;
}
// .iconify {
// }
[data-icon] {
  width: 5em;
  size: 10em;
}
// #abcd {
//   width: 30px;
// }
