ion-router-outlet {
  background-color: #fa744a;
}
#h3 {
  font-size: 24pt;
  color: white;
  text-align: center;
}
label {
  font-size: 18pt;
}

.login {
  width: 12em;
  height: 2.5em;
  font-size: 14pt;
}

ion-buttons {
  position: relative;
  top: 45px;
  left: 2px;
  z-index: 2;
}
#warning {
  font-size: 14pt;
  visibility: hidden;
}
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 10px;
  width: 70%;
  color: black;
  border-radius: 8px;
  text-align: center;
  line-height: 4px;
  visibility: hidden;
}