<ion-content>

  <ion-router-outlet class="back">
    <ion-header>
      <ion-toolbar color="bar">
        <header>
          <ion-tab-button class="atHeader" tab="home">
            <a class="logo"><img src="../assets/icon/logo.png" alt="logo"></a>
          </ion-tab-button>

          <ion-tab-button class="atHeader" tab="login">
            <a class="Login">
              <p class="center">登入</p>
            </a>
          </ion-tab-button>

        </header>

      </ion-toolbar>
    </ion-header>
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content" id="dialog">
        <h4>修改完成!</h4>
        <p>將於3秒後返回首頁</p>
      </div>

    </div>
    <div>
      <ion-buttons class="backBtn">
        <ion-button (click)="backToMember()">
          <span class="iconify goBack" data-icon="akar-icons:arrow-back-thick-fill"></span>
        </ion-button>
      </ion-buttons>
      <h3 id="h3" style="font-weight: bolder;">重設密碼</h3>

    </div>


    <form class="form-inline">

      <label for="account">新密碼：</label>
      <input type="password" class="form-control" placeholder="新密碼" id="newPwd" style="width: 63vw;" name="newPwd"
        [(ngModel)]="newPwd">
      <br>

      <br>
      <label for="email">確認密碼：</label>
      <input type="password" class="form-control" placeholder="確認密碼" id="reconfirmPwd" style="width: 57vw;"
        name="reconfirmPwd" [(ngModel)]="reconfirmPwd">
      <br>
      <p id="warning" style="color: red;">兩個密碼必須相同</p>
      <br><br><br>


      <ion-button type="submit" class="login" id="check" (click)="confirmReset()">送出</ion-button>







    </form>


  </ion-router-outlet>
  <!-- <img class="bg" src="../../assets/icon/LOGO_MONO.svg" alt=""> -->
</ion-content>