<div></div>
<div></div>
<div></div>
<div></div>

<button class="close" (click)="close()">X</button>

<ion-card>
  <div class="adIMG">
    <img class="shape-ex1" src="../../assets/caramel_mousse.jpg" height="200" width="400">
  </div>

  <ion-card-content class="text1">
    母親節限定 ! 感恩優惠8折 !
  </ion-card-content>

  <ion-card-content class="text2">
    活動期間
    <br>
    2021/05/01~2021/05/30
  </ion-card-content>

    <a class="dotSwitch">
      <svg  (click)="home()" height="50" width="50">
        <circle cx="25" cy="25" r="10"  fill="orange" />
      </svg>

    <svg  (click)="advertise()" height="50" width="50">
      <circle cx="25" cy="25" r="10" stroke="orange" stroke-width="3" fill="white" />
    </svg>
    </a>
    
</ion-card>



<div></div>
<div></div>
<div></div>
<div></div>
