<ion-header>
  <ion-toolbar>
    <header>
        <a class="logo" href="#"><img src="../assets/icon/logo.png" alt="logo"></a>

        <a class="Login" href=""><p class="center">登入</p></a>
    </header>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Schedule</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button tab="order">
        <span class="iconify x-large" data-icon="icon-park-outline:rice" data-inline="false"></span>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
<ion-tabs>

  <ion-tab-bar slot="bottom">
<!-- ------------------------------------------- -->
    <ion-tab-button tab="products">

      <ion-icon name="home-outline"></ion-icon>

      <ion-label>首頁</ion-label>

    </ion-tab-button>
<!-- ------------------------------------------------ -->
    <ion-tab-button tab="products">

      <!-- <ion-icon name="briefcase-outline"></ion-icon> -->

      <span class="iconify" data-icon="icon-park-outline:rice" data-inline="false" width="25"></span>

      <ion-label>點餐</ion-label>

    </ion-tab-button>
    <!-- ------------------------------------------------ -->

    <ion-tab-button tab="products">

      <img src="../../assets/dinner-table.svg" width="30">
      <!-- <ion-icon name="briefcase-outline"></ion-icon> -->

      <ion-label>店內情況</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="orders">

      <img src="../../assets/Group.svg"  width="30">

      <ion-label>外送追蹤</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="setting">

      <ion-icon name="person-outline"></ion-icon>

      <ion-label>會員專區</ion-label>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

